@charset "utf-8";
@import url('/css/reset.css');
@import url('../font/pretendard/stylesheet.css');

.mb_header,
.mb_item,
.section-01mb,
.section-03mb {
    display: none;
}

body {
    font-family: 'Pretendard';
    color: #0F1319;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.section-03,
.section-04,
.section-06,
.section-07,
.section-08 {
    padding: 104px 0 120px;
    background-color: #fff;

    .inner {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 40px;
        height: 100%;
    }

    .title {
        text-align: center;
        padding-bottom: 96px;

        h2 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 1.4;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            font-weight: 500;
            color: #455573;
        }
    }

    .image {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .image_box {
        display: flex;
        gap: 32px;
    }
}

.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: block;

    .inner {
        max-width: 1920px;
        width: calc(100% - 30px);
        margin: 0 auto;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;

            img {
                margin-right: 80px;
            }

            a {
                display: block;
                padding: 8px 16px;
                font-weight: bolder;
                font-size: 14px;
                color: #667BA3;
                align-items: center;
                background-color: transparent;
            }

            a:nth-child(2) {
                color: #0F1319;
            }

            a:nth-child(5) {
                display: block;
                padding-right: 35px;
                background: url('../img/arrow-down-right-sm.svg') right center / 100% no-repeat;
                background-size: 25px;
            }

            a:nth-child(6) {
                padding-right: 35px;
                background: url('../img/arrow-down-right-sm.svg') right center / 100% no-repeat;
                background-size: 25px;
            }

            a:hover {
                background-color: #F3F2FD;
                border-radius: 12px;
                color: #452CDD;
            }

            a:nth-child(2):hover {
                background-color: #F3F2FD;
                color: #0F1319;
                border-radius: 12px;
            }
        }

        button {
            width: 180px;
            height: 48px;
            background: linear-gradient(90deg, rgb(69, 44, 221) 0%, rgba(69, 44, 221, 0.8) 100%);
            cursor: pointer;
            border: none;
            border-radius: 12px;
            padding: 12px 28px;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            box-sizing: border-box;
        }

        button:hover {
            background: linear-gradient(#7361E5)
        }
    }
}

.sc-643ac480-5.iyVpIB {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    .slide-track {
        display: flex;
        animation: scroll-left 20s linear infinite;
    }

    &.second {
        .slide-track {
            display: flex;
            animation: scroll-right 20s linear infinite;
        }
    }

    .slide {
        flex: 0 0 auto;
        margin-right: 40px;
        opacity: 0.9;

        img {
            height: 40px;
            width: auto;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.swiper-04 {
    .swiper-button-prev {
        background: url('../img/왼쪽.svg') center center / 100% no-repeat;
        background-size: 12px;
        position: absolute;
        top: 20%;
        left: 10%;
        transform: translateX(-50%);
    }

    .swiper-button-next {
        background: url('../img/오른쪽.svg') center center / 100% no-repeat;
        background-size: 12px;
        position: absolute;
        top: 20%;
        left: 25%;
        transform: translateX(-50%);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-slide {
        position: relative;
        width: 100%
        display: flex;
        align-items: center;
        text-align: center;
        gap: 23px;
        justify-content: center;

        .text {
            width: 250px;
            text-align: left;

            span {
                font-weight: 600;
                color: #002DFF;
                display: block;
                margin-bottom: 10px;
                font-size: 16px;
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
                color: #555;
            }
        }
    }
}

.section-01 {
    margin: 140px 0 0 0;

    .inner {
        max-width: 1920px;
        width: calc(100% - 30px);
        padding-left: 206px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
            text-align: center;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 14px;

            h1 {
                font-size: 48px;
                font-weight: bolder;
                color: #0F1319;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #455573;
            }
        }
    }
}

.section-02 {
    margin: 104px 120px 0;

    .title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 1.4;
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            color: #455573;
            font-weight: 500;
        }
    }

    .image {
        text-align: center;
        padding: 48px 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section-04 {
    .inner {
        margin: 0 auto;
        padding: 0;
    }
}

.section-05 {
    padding: 104px 0 120px;
    background-color: #fff;

    .inner {
        max-width: 1280px;
        width: 100%;
        padding: 40px;
        height: 100%;
        margin: 0 auto;

        .title {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            padding-bottom: 96px;

            h2 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 20px;
                line-height: 1.4;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.6;
                color: #455573;
            }
        }

        .image_box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                max-width: 1280px;
                width: 100%;
                height: 524px;

                img {
                    max-width: 524px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }

}

.section-08 {
    background: linear-gradient(rgb(245, 247, 249) 0%, rgb(223, 228, 236) 100%);

    .inner {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 40px;

        .title {
            height: 300px;
            display: flex;
            flex-direction: column;
            margin: 0 70px;
            height: 100%;
            padding: 0;

            h2 {
                margin-bottom: 40px;
            }
        }

        button {
            width: 103px;
            height: 48px;
            background-color: #452CDD;
            color: #fff;
            border-radius: 12px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }
    }
}


.footer {
    background-color: #f9f9f9;
    padding: 80px 100px;

    .inner {
        max-width: 1920px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 330px;

        .logo {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                line-height: 1.5;
                color: #8C9CBA;
                font-size: 10px;
                font-weight: normal;
            }

            .logo image {
                width: 80px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .ul_wrap {
            display: flex;
            gap: 200px;

            ul {
                li {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 300%;
                }
            }
        }
    }
}

/* ---------------768px---------------- */
@media (max-width: 768px) {

    .header,
    .section-01, .section-03,
    .section-07 {
        display: none;
    }

    .mb_header {
        display: flex;
        width: 100%;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .mb_item {
        display: block;
    }

    .mb_header .inner {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

        .logo {
            display: flex;
            justify-content: space-between;

            .gnb {
                display: flex;
                gap: 12px;
                align-items: center;

                .image {
                    width: 69px;
                    height: 16px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .btn {
            background-color: #452CDD;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            border-radius: 12px;
            padding: 12px 16px;
        }
    }

    .section-02,
    .section-03mb,
    .section-04,
    .section-06,
    .section-07,
    .section-08 {
        width: 100%;
        padding: 80px 0;
        margin: 0 auto;

        .inner {
            padding: 0 16px;
        }

        .title {

            h2 {
                font-size: 24px;
                line-height: 1.3;
                color: #0F1319;
                font-weight: bold;
            }

            p {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.5;
                color: #455573;
            }
        }

        .image {
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .image_box {
            flex-direction: column;
            gap: 24px;
        }
    }
    .sc-643ac480-5.iyVpIB {
        .slide {
            img {
                width: fit-content;
                height: 18px;
            }
        }
    }
    .swiper-04 {
        .swiper-slide {
            box-sizing: border-box;
            flex-direction: column;
            .image {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .text {
                width: 100%;
                text-align: center;

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    .mbswiper {
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                gap: 16px;
                .image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .section-01mb {
        display: flex;
        margin-top: 100px;
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1920px;
            width: calc(100% - 30px);
            margin: 0 auto;
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;

            .image {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            .title {
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 14px;

                h1 {
                    font-size: 28px;
                    font-weight: bold;
                    color: #0F1319;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #455573;
                }
            }
        }
    }

    .section-03mb {
        display: flex;
        justify-content: center;

        .inner {
            .image {
                width: 327px;
                height: 422px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .section-04 {
        padding: 0;

        .inner {
            .title {
                padding: 80px 0 56px 0;

                h2 {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .section-05 {
        padding: 160px 0;

        .inner {
            margin: 0 auto;

            .title {
                padding-bottom: 48px;

                h2 {
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }

            .image_box {
                flex-direction: column;
                align-items: center;

                .image {
                    box-sizing: border-box;
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .section-08 {
        .inner {
            padding: 0 16px;

            .title {
                margin: 0;
                padding: 0;

                h2 {
                    font-size: 28px;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }

            button {
                width: 100%;
                height: 48px;
                font-size: 16px;
            }
        }
    }

    .footer {
        padding: 40px 16px;

        .inner {
            flex-direction: column;
            gap: 40px;

            .logo {
                align-items: center;

                p {
                    text-align: center;
                }
            }

            .ul_wrap {
                flex-direction: column;
                gap: 20px;

                ul {
                    li {
                        font-size: 12px;
                        line-height: 2;
                        text-align: center;
                    }
                }
            }
        }
    }

}
